
<%= form_with model: [:admin, @badge], local: true do |form| %>
  <div class="mb-2">
    <%= form.label t('.picture') %>
    <input class="form-control" type="url" name="badge[picture]" id="badge_picture">
  </div>
  <div class="mb-2">
    <%= form.label t('.name') %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="row mb-3">
    <div class="col">
      <%= form.label t('.rule') %>
      <%= form.select :type,
                      [[t('.FirstRule'), 'FirstAttemptRule'],
                       [t('.CompleteLevelRule'), 'CompleteLevelRule'],
                       [t('.CompleteCategoryRule'), 'CompleteCategoryRule']],
                      { prompt: true },
                      { class: "form-control" } %>
    </div>
    <div class="col">
      <%= form.label t('.value') %>
      <%= form.text_field :filter_value, class: "form-control" %>
    </div>
  </div>
  <p>
    <%= form.submit t('.create_badge'), type: "submit", class: "btn btn-primary" %>
  </p>
<% end %>
© 2020 GitHub, Inc.