<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TESTGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/flash' %>

  <%= render 'shared/nav' %>

  <div class="container">
    <% if user_signed_in? %>
      <a class="p-2 text-dark">
        <%= current_user.badges.where(control: :first_try).count %>
        <%= image_tag(Badge.find_by(control: :first_try).picture, size: '20x20') if Badge.find_by(control: :first_try).present? %>
        <%= current_user.badges.where(control: :all_in_level).count %>
        <%= image_tag(Badge.find_by(control: :all_in_level).picture, size: '20x20') if Badge.find_by(control: :all_in_level).present? %>
        <%= current_user.badges.where(control: :all_in_category).count %>
        <%= image_tag(Badge.find_by(control: :all_in_category).picture, size: '20x20') if Badge.find_by(control: :all_in_category).present? %>
      </a>
    <% end %>
  </div>

<div class="container">
  <div class="content">
    <%= yield %>
  </div>

  <div class="footer">
    <%= render 'layouts/footer' %>
  </div>
</div>
  </body>
</html>
